# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\course\MyProject\boot-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
