<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div style="margin-left: 300px">
            <h3>标准变量表达式 ${key}</h3>

            <br/>
            <h3>显式对象的数据值${key.属性名}/${key.getXXX()}</h3>
            <p th:text="${user.id}">显式id</p>
            <p th:text="${user.name}">显式姓名</p>
            <p th:text="${user.sex}">显式性别</p>
            <p th:text="${user.age}">显式年龄</p>
            <br/>

            <h3>选择表达式 *{属性名}</h3>
            <div th:object="${user}">
                <p th:text="*{name}"></p>
                <p th:text="*{age}"></p>
            </div>


        </div>
</body>
</html>